*{
    margin: 0;
}
:root{
    --primary-red: rgb(216, 64, 64);
    --secondary-red: rgb(163, 29, 29);
    --primary-tan: rgb(236, 220, 191);
    --secondary-tan: rgb(248, 242, 222);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-tan);
}
header{
    background-image: url(content/img/fej-kar06.gif);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    color: var(--primary-red);
    font-size: 3em;
    font-family: "Style Script";
}
main{
    width: 80%;
    background-color: var(--primary-tan);
}
main div{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    flex-wrap: nowrap;
}
#type2{
    flex-direction: row-reverse;
}
main div img{
    width: 35%;
    height: auto;
    object-fit: contain;
}
main div section{
    width: 60%;
}
li {
    list-style-image: url(content/img/li.png);
}
@media (max-width: 1400px) {
    main div, #type2{
        flex-direction: column;
        align-items: center;
    }
    main div img{
        width: 60%;
    }
    main div section{
        width: 100%;
    }
    @media (max-width: 900px) {
        main div img{
            width: 100%;
        }
    }
}