*{
    margin: 0;
}
header{
    background-image: url(content/img/fej-kar06.gif);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    color: red;
    font-size: 3em;
    font-family: "Style Script";
}